<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-1 mt-1">    
    <%= form.text_field :name, placeholder: "Name", class:"form-control" %>
  </div>

  <div class="mb-1">    
    <%= form.text_field :icon, placeholder: "Icon-url", class:"form-control" %>
  </div>
  
  <div class="mt-3">
    <%= form.submit "SAVE", class: 'splash-btn green' %>
  </div>
<% end %>
