<p style="color: green"><%= notice %></p>

<%= render @expense_group %>

<div>
  <%= link_to "Edit this expense group", edit_expense_group_path(@expense_group) %> |
  <%= link_to "Back to expense groups", expense_groups_path %>

  <%= button_to "Destroy this expense group", @expense_group, method: :delete %>
</div>
